<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> <a href="#"><img src="images/logo.png" alt="Image" class="logo"></a>
                <div class="hamburger-menu visible-xs visible-sm"> <span></span> <span></span> <span></span> <span></span> </div>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about" class="transition">ABOUT JLV</a></li>
                    <li><a href="/contact" class="transition">CONTACT</a></li>
                </ul>
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</nav>
<!-- end navbar -->
