<!--<div class="navigation" role="navigation">-->
<!--<div class="video-bg hidden-sm hidden-xs">-->
<!--<video src="videos/video.mp4" muted autoplay loop></video>-->
<!--</div>-->
<!--&lt;!&ndash; end video-bg &ndash;&gt;-->
<!--<div class="table">-->
<!--<div class="inner">-->
<!--<nav>-->
<!--<ul>-->
<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--aria-haspopup="true" aria-expanded="false">HOME</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="index.html" class="transition">SLIDER</a></li>-->
<!--<li><a href="index-top-menu.html" class="transition">TOP MENU</a></li>-->
<!--<li><a href="index-video.html" class="transition">VIDEO</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="showcase.html">SHOWCASE</a></li>-->
<!--<li><a href="wave.html" class="transition">WAVE</a></li>-->
<!--<li><a href="services.html" class="transition">SERVICES</a></li>-->
<!--<li><a href="news.html" class="transition">NEWS</a></li>-->
<!--<li><a href="contact.html" class="transition">CONTACT</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--<span class="copyright">© 2015 JLV Design</span></div>-->
<!--&lt;!&ndash; end inner &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; end table &ndash;&gt;-->
<!--</div>-->
<!-- end navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><a href="#"><img src="{{getVersionedPath "/images/logo.png"}}" alt="Image" class="logo"></a>

                <!--<div class="hamburger-menu"><span></span> <span></span> <span></span> <span></span></div>-->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</nav>
<!-- end navbar -->
