<div class="loading">
    <div class="loader">
        <h2 class="loading-text cd-headline clip is-full-width"><span class="cd-words-wrapper"> <b class="is-visible">Hey
            please wait</b> <b>Still loading</b></span></h2>

        <div class="loading-image"><img src="{{getVersionedPath "/images/loading.gif"}}" alt="Image"></div>
    </div>
    <!-- end loader -->
</div>
<!-- end loading -->
<div class="transition-overlay"></div>
<!-- end transition-overlay -->
