<section class="services-list">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title-box">
                    <h2 class="wow fadeInUp" data-wow-delay="0.05s">JLV Design Ltd</h2>
                    <h5 class="wow fadeInUp" data-wow-delay="0.10s">French Modern with an English twist</h5>
                    <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                <!-- end title-box -->
            </div>
            <!-- end col-12 -->
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
                <h4>HOME IS EVERYTHING</h4>

                <p>We understand how challenging home styling can be whether you’re decorating a new home, starting
                    a room makeover or buying new furnitures. Converting your vision into reality can be tricky. We
                    believe that you should love the place you live and we will help you meet that goal and tailor a
                    space that distinctly reflects your lifestyle.</p>
            </div>
            <!-- end col-6 -->
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
                <h4>FINDING YOUR STYLE</h4>

                <p>After the initial consultation, we further assess your personality through a questionnaire
                    designed to extract your preferences, interests, style and needs. This will provide a starting
                    point for creating a personalised design plan. Whether you have small children, or a busy
                    corporate executive, every aspect of the your lifestyle is considered when creating a
                    sophisticated and functional space.</p>
            </div>
            <!-- end col-6 -->
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s">
                <h4>GET IN TOUCH</h4>

                <p>If you are interested in talking to us about your project, please contact us: <a
                        href="mailto:josephine@jlv-design.co.uk">josephine@jlv-design.co.uk</a></p>
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    </div>
    <!-- end container -->
</section>
