<main class="int-header-no-img">
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 text-right">
                    <img src="images/moi1.jpg" alt="Image">
                </div>
                <div class="col-xs-3">
                    <img src="images/moi2.jpg" alt="Image">
                </div>
                <div class="col-xs-3">
                    <p>I'm a designer with over 15 years experience, who's always been in love with interior design.</p>
                    <p>I think this comes from my childhood: my father used to be an antique dealer and I've always lived in amazing houses packed with character and filled with great pieces.</p>
                    <p>So with an eye on the past and a true passion for design, I like creating simple, elegant and functional interiors to suit each and everyone.</p>
                    <!-- end news-post -->
                </div>
                <div class="col-xs-3">
                    <p class="h2">Add a little<br />"je ne sais quoi"<br/>to your interiors</p>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end news -->
</main>
