<li data-transition="scaledownfromtop" data-masterspeed="700"><img src="{{getVersionedPath imgPath}}" alt="Image">

    <div class="tp-caption"
         data-x="center"
         data-y="center"
         data-voffset="-21"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="300"
         data-start="500"
         data-easing="Quad.easeIn"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-end="4700"
         data-endspeed="300">
        <h2>{{title}}</h2>
    </div>
    <div class="tp-caption"
         data-x="center"
         data-y="center"
         data-voffset="121"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="600"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-end="5000"
         data-endspeed="300">
        <h5>{{subtitle}}</h5>
    </div>
    <div class="tp-caption"
         data-x="center"
         data-y="bottom"
         data-voffset="50"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="600"
         data-start="1100"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.05"
         data-endelementdelay="0.1"
         data-end="5100"
         data-endspeed="300"><img src="{{getVersionedPath "/images/icon-mouse.png"}}" alt="Image"></div>
</li>

