<section class="slider">
    <div class="slider-inner">
        <div class="banner">
            <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
                <ul>
                  {{> carousel_slide imgPath='/images/HeroImage_1.jpg' title='' subtitle=''}}
                    <!-- end banner 1 -->
                  {{> carousel_slide imgPath='/images/HeroImage_2.jpg' title='' subtitle=''}}
                    <!-- end banner 2 -->
                  {{> carousel_slide imgPath='/images/HeroImage_3.jpg' title='' subtitle=''}}
                    <!-- end banner 3 -->
                </ul>
                <!-- end ul -->
            </div>
            <!-- end rev_slider -->
        </div>
        <!-- end banner -->
    </div>
    <!-- end slider-inner -->
</section>
<!-- end slider -->
