<div class="footer-space"></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="{{getVersionedPath "/images/logo.png"}}" alt="Image" class="logo">
            </div>
            <!-- end col-12 -->
            <div class="col-xs-12">
                <div class="sub-footer"><span class="copyright">© 2015 JLV Design Ltd</span>
                    <ul>
                        <li><a href="/contact">contact</a></li>
                        <li><a href="mailto:contact@jlv-design.co.uk">contact@jlv-design.co.uk</a></li>
                      <li><div class="fb-like" data-href="https://www.facebook.com/JLVDesignLtd" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div></li>
                      <li><style>.ig-b- { display: inline-block; }
                      .ig-b- img { visibility: hidden; }
                      .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                      .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
                      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                          .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
                          <a href="http://instagram.com/jlvdesignltd?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a></li>
                        <li><a href="https://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img src="http://st.hzcdn.com/static_en-GB/badge181_25.png" alt="Renovation and Home Design" width="181" height="25" border="0" /></a></li>
                    </ul>
                </div>
                <!-- end sub-footer -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</footer>
<!-- end footer -->
