<section class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-box">
          <h2 class="wow fadeInUp" data-wow-delay="0.05s">JLV Design Ltd</h2>
          <h5 class="wow fadeInUp" data-wow-delay="0.10s">French Modern with an English twist</h5>
          <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
        <!-- end title-box -->
      </div>
      <!-- end col-12 -->
      <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
        <h4>WHAT'S NEW!</h4>

        <p>So far 2017 have been rather eventful, in addition to the lovely projects done in Muswell Hill and is neighbourhoods, JLV Design has been awarded best of Houzz 2017 for client satisfaction.</p>
        <p>These days, Joséphine is collaborating with Evening Standard writer Lizzie Rivera on an exciting project focusing on sustainability and has just won the redesign of the lobby of the Novotel Tower Bridge, in Central London.</p>
        <p>Stay tuned and we'll share some photos on social media as soon as possible!</p>
      </div>
      <!-- end col-8 -->
      <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
        <h4>GET IN TOUCH</h4>

        <p>If you are interested in talking to us about your project, please contact us: <a
          href="mailto:contact@jlv-design.co.uk">contact@jlv-design.co.uk</a></p>
        <p>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_41_8@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="80" height="80"
            border="0"/></a>&nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_20_9@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="96" height="96"
            border="0"/></a>&nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_19_9@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="96" height="96"
            border="0"/></a>
        </div>
        </p>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  </div>
  <!-- end container -->
</section>
