<section class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-box">
          <h2 class="wow fadeInUp" data-wow-delay="0.05s">JLV Design Ltd</h2>
          <h5 class="wow fadeInUp" data-wow-delay="0.10s">French Modern with an English twist</h5>
          <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
        <!-- end title-box -->
      </div>
      <!-- end col-12 -->
      <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.05s">
        <h4>WHAT'S NEW!</h4>

        <p>JLV Design is a Muswell Hill based interior design team, with a fresh approach to design and property styling, who can help you create a home which reflects your personality.</p>
        <p>We have a passion for design and we apply the same dedication to a single, lower budget commission as to an entire house renovation. </p>
          <p><a href="https://www.hayche.com/blogs/journal/a-conversation-with-josephine-lecoufle">In Conversation with Josephine Lecoufle-Vinet</a></p>
      </div>
      <!-- end col-8 -->
      <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s">
        <h4>GET IN TOUCH</h4>

        <p>If you are interested in talking to us about your project, please contact us: <a
          href="mailto:contact@jlv-design.co.uk">contact@jlv-design.co.uk</a></p>
        <p>
          <div class="pull-left">
              <a href="http://www.houzz.co.uk/pro/jlvdesign"><img
                      src="https://st.hzcdn.com/static_en-GB/badge_47_8@2x.png"
                      alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="80" height="80"
                      border="0"/></a>&nbsp;&nbsp;
          </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_44_8@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="80" height="80"
            border="0"/></a>&nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_41_8@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="80" height="80"
            border="0"/></a>&nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_20_9@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="96" height="96"
            border="0"/></a>&nbsp;&nbsp;
        </div>
        <div class="pull-left">
          <a href="http://www.houzz.co.uk/pro/jlvdesign/jlv-design-ltd"><img
            src="http://st.hzcdn.com/static_en-GB/badge_19_9@2x.png"
            alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="96" height="96"
            border="0"/></a>
        </div>
        </p>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  </div>
  <!-- end container -->
</section>
