<section class="showcase">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">showcase</h2>
                    <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end header -->
    <div class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="portfolio-masonry">
                      {{>showcase_item imgPath='/images/work01.jpg' title='REAL HOMES' delay='0.05s' bgColor='bg-color1'}}
                      {{>showcase_item imgPath='/images/work02.jpg' title='HOME STAGING' delay='0.10s' size='double' bgColor='bg-color3' }}
                      {{>showcase_item imgPath='/images/work03.jpg' title='COSY' delay='0.15s' size='double' bgColor='bg-color4' }}
                      {{>showcase_item imgPath='/images/work04.jpg' title='ART' delay='0.05s' size='double' bgColor='bg-color4' }}
                      {{>showcase_item imgPath='/images/work05.jpg' title='COLOURS' delay='0.10s' size='double' bgColor='bg-color2' }}
                      {{>showcase_item imgPath='/images/work06.jpg' title='CREATIVE' delay='0.15s' bgColor='bg-color1' }}
                      {{>showcase_item imgPath='/images/work07.jpg' title='SOURCING' delay='0.05s' size='double' bgColor='bg-color1' }}
                      {{>showcase_item imgPath='/images/work08.jpg' title='STYLING' delay='0.10s' size='double' bgColor='bg-color4' }}
                      {{>showcase_item imgPath='/images/work09.jpg' title='UP-CYCLING' delay='0.15s' bgColor='bg-color3' }}
                    </ul>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end portfolio -->
</section>
<!-- end showcase -->
