<main class="int-header-no-img">
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.05s">
                    <h3>CONTACT INFOS</h3>
                    <p>Our services can be tailored to suit your exact requirements. Please contact us to discuss your project, we’d be delighted to help.</p>
                </div>
                <!-- end col-4 -->
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.10s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-right">
                            <h4>PHONE</h4>
              <span>m: 079 64164 799 </span> </div>
                        <!-- end col-4 -->
                        <div class="col-md-6 col-sm-6 text-right">
                            <h4>E-MAIL</h4>
                            <span><a href="mailto:contact@jlv-design.co.uk">contact@jlv-design.co.uk</a></span> </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end col-8 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end contact-info -->

</main>
