<main class="int-header-no-img">
    <section class="showcase">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="wow fadeInUp" data-wow-delay="0.5s">frames</h2>
                        <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end header -->
        <div class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="portfolio-masonry">
                          {{>showcase_item imgPath='/images/frames/03.jpg' title='' delay='0.05s' bgColor='bg-color1'}}
                          {{>showcase_item imgPath='/images/frames/05.jpg' title='' delay='0.10s' size='double' bgColor='bg-color4' }}
                          {{>showcase_item imgPath='/images/frames/06.jpg' title='' delay='0.15s' size='double' bgColor='bg-color4' }}
                          {{>showcase_item imgPath='/images/frames/07.jpg' title='' delay='0.5s' size='double' bgColor='bg-color2' }}
                          {{>showcase_item imgPath='/images/frames/08.jpg' title='' delay='0.10s' bgColor='bg-color1' }}
                          {{>showcase_item imgPath='/images/frames/09.jpg' title='' delay='0.15s' size='double' bgColor='bg-color1' }}
                          {{>showcase_item imgPath='/images/frames/10.jpg' title='' delay='0.05s' size='double' bgColor='bg-color4' }}
                          {{>showcase_item imgPath='/images/frames/11.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/12.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/13.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/14.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/15.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/16.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/17.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/18.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/19.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/20.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/21.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/22.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/23.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/24.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/25.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/26.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/27.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/28.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/29.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/30.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/31.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/32.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/33.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/34.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/35.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/36.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/37.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/38.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/39.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/40.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/41.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/42.jpg' title='' delay='0.15s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/43.jpg' title='' delay='0.05s' bgColor='bg-color3' }}
                          {{>showcase_item imgPath='/images/frames/45.jpg' title='' delay='0.10s' bgColor='bg-color3' }}
                        </ul>
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end portfolio -->
    </section>
    <!-- end showcase -->

</main>
