<main class="int-header-no-img">
    <section class="showcase">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-box">
                        <h2 class="wow fadeInUp" data-wow-delay="0.05s">Selected Projects</h2>
                        <h5 class="wow fadeInUp" data-wow-delay="0.10s">We would like to share our latest projects with you</h5>
                        <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                    <!-- end title-box -->
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px">
                <!-- end col-12 -->
                <div class="projects col-xs-12">
                    <ul class="portfolio-masonry">
                        <li class="wow fadeInUp" data-wow-delay="0.05s" style="margin-right: 20px">
                            <figure><img src="/images/projects/Prject_MH5.JPG" alt="Image">
                                <a href="/projects/muswellHill3" data-rel="gallery" title="">
                                    <figcaption class="bg-color1">
                                        <div class="table">
                                            <div class="inner">First Floor New Layout</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.05s" style="margin-right: 20px">
                            <figure><img src="/images/projects/Prject_MH4.jpg" alt="Image">
                                <a href="/projects/shoreditchPark" data-rel="gallery" title="">
                                    <figcaption class="bg-color1">
                                        <div class="table">
                                            <div class="inner">Shoreditch Park</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.10s" style="margin-right: 20px">
                            <figure><img src="/images/projects/Prject_MH1.jpg" alt="Image">
                                <a href="/projects/muswellHill1" data-rel="gallery" title="">
                                    <figcaption class="bg-color4">
                                        <div class="table">
                                            <div class="inner">Victorian Property<br />in Muswell Hill</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.15s" style="margin-right: 20px">
                            <figure><img src="/images/projects/Prject_MH2.jpg" alt="Image">
                                <a href="/projects/muswellHill2" data-rel="gallery" title="">
                                    <figcaption class="bg-color2">
                                        <div class="table">
                                            <div class="inner">Muswell Hill Project</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.20s">
                            <figure><img src="/images/projects/Prject_MH3.jpg" alt="Image">
                                <a href="/projects/gardenOffice" data-rel="gallery" title="">
                                    <figcaption class="bg-color3">
                                        <div class="table">
                                            <div class="inner">Garden Office</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>

                    </ul>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end container -->
    </section>
</main>
