<main class="int-header-no-img">
    <section class="showcase">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-box">
                        <h2 class="wow fadeInUp" data-wow-delay="0.05s">Selected Projects</h2>
                        <h5 class="wow fadeInUp" data-wow-delay="0.10s">We would like to share our latest projects with you</h5>
                        <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                    <!-- end title-box -->
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px">
                <!-- end col-12 -->
                <div class="projects col-xs-12">
                    <ul class="portfolio-masonry">
                      <li class="wow fadeInUp" data-wow-delay="0.05s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_17.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2814029/kids-bedrooms" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Kids bedrooms</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.10s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_16.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/3152640/family-home-in-kent" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Family home in Kent</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.15s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_15.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/3755497/contemporary-building-2-n1" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Contemporary building<br />N1</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.20s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_14.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/4024540/wall-units" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Wall Units</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.25s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_13.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2945093/colourful-family-home-nw2" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Colourful family home</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.30s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_12.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2974887/master-bedroom-in-converted-loft" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Converted loft</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.35s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_11.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2503066/styling-and-interior-design-muswell-hill" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Styling & interior design</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.40s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_10.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2891019/inside-an-islington-live-work-home" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Inside an Islington live-work home</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.45s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_Firs.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2639764/family-home-muswell-hill" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Family Home,<br />Muswell Hill</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.50s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_crAv.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2208614/creighton-av-muswell-hill" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">House refurbishment,<br />Muswell Hill</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.55s" style="margin-right: 20px">
                        <figure><img src="/images/projects/project_finch7.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2352763/home-styling-n12" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Styling and Rooms makeover,<br />Finchley</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.60s" style="margin-right: 20px">
                        <figure><img src="/images/projects/Project_MH6.jpg" alt="Image">
                          <a href="https://www.houzz.co.uk/projects/2190531/kitchen-dining-room-muswell-hill" data-rel="gallery" title="">
                            <figcaption class="bg-color3">
                              <div class="table">
                                <div class="inner">Kitchen Dining room,<br />Muswell Hill</div>
                              </div>
                            </figcaption>
                          </a>
                        </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.65s" style="margin-right: 20px">
                            <figure><img src="/images/projects/Prject_MH5.JPG" alt="Image">
                                <a href="https://www.houzz.co.uk/projects/2013432/muswell-hill-project-1st-floor-new-layout" data-rel="gallery" title="">
                                    <figcaption class="bg-color1">
                                        <div class="table">
                                            <div class="inner">First-floor New layout,<br />Muswell Hill</div>
                                        </div>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                      <li class="wow fadeInUp" data-wow-delay="0.70s" style="margin-right: 20px">
                          <figure><img src="/images/projects/Prject_MH4.jpg" alt="Image">
                              <a href="https://www.houzz.co.uk/projects/1966932/contemporary-building-london-n1" data-rel="gallery" title="">
                                  <figcaption class="bg-color1">
                                      <div class="table">
                                          <div class="inner">Contemporary building,<br />London N1</div>
                                      </div>
                                  </figcaption>
                              </a>
                          </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.75s" style="margin-right: 20px">
                          <figure><img src="/images/projects/Prject_MH1.jpg" alt="Image">
                              <a href="https://www.houzz.co.uk/projects/1966729/victorian-property-in-muswell-hill" data-rel="gallery" title="">
                                  <figcaption class="bg-color4">
                                      <div class="table">
                                          <div class="inner">Victorian Property,<br />Muswell Hill</div>
                                      </div>
                                  </figcaption>
                              </a>
                          </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.80s" style="margin-right: 20px">
                          <figure><img src="/images/projects/Prject_MH2.jpg" alt="Image">
                              <a href="https://www.houzz.co.uk/projects/1966857/muswell-hill-project-extension-and-new-layout" data-rel="gallery" title="">
                                  <figcaption class="bg-color2">
                                      <div class="table">
                                          <div class="inner">Former Council House Refurbishment,<br />Muswell Hill</div>
                                      </div>
                                  </figcaption>
                              </a>
                          </figure>
                      </li>
                      <li class="wow fadeInUp" data-wow-delay="0.85s">
                          <figure><img src="/images/projects/Prject_MH3.jpg" alt="Image">
                              <a href="https://www.houzz.co.uk/projects/1308046/garden-studio" data-rel="gallery" title="">
                                  <figcaption class="bg-color3">
                                      <div class="table">
                                          <div class="inner">Garden Office,<br />Muswell Hill</div>
                                      </div>
                                  </figcaption>
                              </a>
                          </figure>
                      </li>

                    </ul>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end container -->
    </section>
</main>
