<main class="int-header-no-img">
    <section class="testimonials-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-box">
                        <h2 class="wow fadeInUp" data-wow-delay="0.05s">Testimonials</h2>
                        <h5 class="wow fadeInUp" data-wow-delay="0.10s">What clients think of JLV Design</h5>
                        <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                    <!-- end title-box -->
                </div>
                <!-- end col-12 -->
              <div class="testimonial">
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s testimonial-item">
                  <p>I contacted Josephine recently after we moved into our first family home. I knew that I wanted to redecorate and I had a very tight deadline to meet because I had to move in within 6 weeks. However, I really didn't know where to start. The house, although large and with a great layout was extremely uninspiring inside, every room felt dark and lacked any warmth. I brought Josephine in to help with two living rooms, our kitchen and master bedroom. I am so glad that I came across Josephine, I gave her an incredibly tight deadline to come back to me with mood boards because my decorator was ready to start. She met my deadlines and she has helped us create the most wonderful family home. The transformation is quite incredible, looking at the rooms now my husband and I agree there is no way that we would have created such a beautiful living space on our own. She always came within the budget that we set, she always came back to straight away with any questions I had and she is a lovely person to work with. Before the process started, I wondered whether an interior designer was worth it, would it deliver what I wanted and would it be worth the expense. For me, it was absolutely the best decision I made and that is down to choosing the right interior designer. Working with Josephine took the stress out of the process, made it highly enjoyable and delivered a wonderful result. I highly recommend her and I am so impressed that I have now asked for her help with the children's nursery.</p>
                  <h4>Fadia T. | Muswell Hill</h4>
                  <br />
                  <p>Very helpful and excellent design ideas and planning for my utility and playroom. Highly recommended. I really enjoy using these rooms now Thank you</p>
                  <h4>Georgina McN. | Mill Hill</h4>
                  <br />
                  <p>It was an absolute pleasure to work with Josephine. I already knew that Iiked her style as I’d seen previous projects on Houzz, she came up with a couple of different options for our units and we focused on one of them to make it right for our space. She was very quick to respond to my requests and very amenable too. We are delighted with how they look and would not only highly recommend her but would love to work with her again if we have future projects.</p>
                  <h4>Natasha Z. | Muswell Hill</h4>
                </div>
                <!-- end col-6 -->
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s testimonial-item">
                  <p>I contacted Josephine after going through a complete house refurbishment. Once I got to the stage of decorating the interiors of the house - specifically the new open plan kitchen sharing a space with a living room and dining room - I felt stuck!
                    Josephine really listens and considers current furniture or key pieces in order to come up with mood boards and proposals. She really gets a good sense of the lifestyle and personality of her clients.
                    There is no way I would have been able to choose on my own the furniture she proposed - as I and to stick to the same kind of style. By hiring JLV design I went out of my comfort zone and achieved a very updated, fresh and elegant look.
                    I was so pleased with the result in the open plan kitchen that I decided to hire Josephine to help me with the guest bedroom, tv room and master bedroom!</p>
                  <h4>Patty C.F. | West Hampstead</h4>
                  <br />
                  <p>I asked Josephine for ideas for refreshing two rooms in the family home, which initially involved recovering some beloved chairs and sourcing curtain fabric. Then I changed the project by moving to a newly built flat. Josephine stuck with it to help me reuse what I had put away and added new features, including a particularly challenging curtain pole installation. Her warm, cheery personality and attention to detail were reassuring. I love my new space where I am surrounded by things I want to live with.</p>
                  <h4>Hilary S. | Muswell Hill</h4>
                  <br />
                  <p>Josephine is an extremely talented designer with a keen eye for detail and impeccable taste. She took great care to attend to my specific needs. She is unbelievably efficient. We had the bathroom and kitchen design sorted weeks before I was able to secure a tradesperson to do the installation! I was so impressed with her work that I asked her to help me with my lounge, dining and master bedroom. Again she exceeded expectation by selecting the most beautiful pieces to compliment the layout and colour scheme. Always coming within budget, and giving a good selection of options for you to choose from. Despite being based in Kent, she always managed to organise visits to make the project run smoothly. I am so glad that I stumbled across her work whilst browsing Houzz that rainy Sunday afternoon. Incidentally, she replied to my enquiry almost immediately.
                    A consummate professional. I have no hesitation in recommending her.</p>
                  <h4>Sonia S. | Kent</h4>

                </div>
                <!-- end col-6 -->
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s testimonial-item">
                    <p>Josephine is very professional. She listened to me had a look at our flat and was able to submit a project that was totally what we needed. She really has an eye to put the right pieces and colours in the right place. She followed up and helped us in every step. I greatly recommend her.</p>
                    <h4>Helene M. | Crouch End</h4>

                    <br />
                    <p>Josephine is fab! She helped us jump start our basement renovation project. We wanted to turn a damp awkward space into a cool teenage den for our kids to hang out in. This was our 3rd attempt at sorting this room out. She presented some brilliant designs which were also very practical and affordable. She was there when we needed her but also let us get on with the bits of the work we felt comfortable with.</p>
                    <h4>Paula H. | Muswell Hill</h4>

                    <br />
                    <p>Working with Josephine was a dream. She encouraged us to be braver with our design choices without ever being pushy and was respectful of our budget.
                      Josephine was always available by phone or email to answer questions and would send us pictures of ideas she had seen for inspiration for the flat.
                      We live in an open-plan flat and the result is a very clever use of space. We were able to upcycle the kitchen beautifully which not only fit in with our budget but also our sustainability efforts.</p>
                    <h4>Lizzie R. | Tollington Park</h4>
                  <br />
                  <p>Josephine helped design our newly renovated home. She was fantastic. Highly professional, often went above and beyond and easy to work with. What's evident is that she is passionate about design and doing the best for her clients. Her ideas were spot on and often pushed our boundaries. We're very happy with the result and I would highly recommend her. Thank you for all your hard work.</p>
                  <h4>Latifa K. | Muswell Hill</h4>
                </div>
            </div>
            <!-- end row -->
        </div>
        </div>
        <!-- end container -->
    </section>
</main>
