<main class="int-header-no-img">
    <section class="testimonials-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-box">
                        <h2 class="wow fadeInUp" data-wow-delay="0.05s">Testimonials</h2>
                        <h5 class="wow fadeInUp" data-wow-delay="0.10s">What clients think of JLV Design</h5>
                        <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                    <!-- end title-box -->
                </div>
                <!-- end col-12 -->
              <div class="testimonial">
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.05s testimonial-item">
                  <p>We really enjoyed working with Josephine. The design process was very engaging and Josephine was very patient with us as we changed our minds several times. The end result was exactly as we had hoped, and that is down to Josephine’s creative eye and ability to understand what we wanted. We look forward to working with her again.</p>
                  <h4>Kate S. | Crouch End</h4>
                  <br />
                    <p>We were delighted with the ideas that Josephine gave us to update and reconfigure a room in our house. She ensured the design worked with the existing decor in other rooms but emboldened us to try colours and fittings we’d not have been brave enough to choose ourselves. We’re really pleased with the final outcome and in addition, have had several friends asking where we bought our ceiling light from as they want to get the same one!</p>
                  <h4>Jo F. | Muswell Hill</h4>
                  <br/>
                    <p>I contacted Josephine recently after we moved into our first family home. I knew that I wanted to redecorate and I had a very tight deadline to meet because I had to move in within 6 weeks. However, I really didn't know where to start. The house, although large and with a great layout was extremely uninspiring inside, every room felt dark and lacked any warmth. I brought Josephine in to help with two living rooms, our kitchen and master bedroom. I am so glad that I came across Josephine, I gave her an incredibly tight deadline to come back to me with mood boards because my decorator was ready to start. She met my deadlines and she has helped us create the most wonderful family home. The transformation is quite incredible, looking at the rooms now my husband and I agree there is no way that we would have created such a beautiful living space on our own. She always came within the budget that we set, she always came back to straight away with any questions I had and she is a lovely person to work with. Before the process started, I wondered whether an interior designer was worth it, would it deliver what I wanted and would it be worth the expense. For me, it was absolutely the best decision I made and that is down to choosing the right interior designer. Working with Josephine took the stress out of the process, made it highly enjoyable and delivered a wonderful result. I highly recommend her and I am so impressed that I have now asked for her help with the children's nursery.</p>
                  <h4>Fadia T. | Muswell Hill</h4>
                  <br />
                  <p>Very helpful and excellent design ideas and planning for my utility and playroom. Highly recommended. I really enjoy using these rooms now Thank you</p>
                  <h4>Georgina McN. | Mill Hill</h4>
                  <br />
                  <p>It was an absolute pleasure to work with Josephine. I already knew that Iiked her style as I’d seen previous projects on Houzz, she came up with a couple of different options for our units and we focused on one of them to make it right for our space. She was very quick to respond to my requests and very amenable too. We are delighted with how they look and would not only highly recommend her but would love to work with her again if we have future projects.</p>
                  <h4>Natasha Z. | Muswell Hill</h4>

                  <p>Josephine has done an amazing job on our house. She has styled each room differently but in a complimentary manner so that without spending a fortune, we've gone from liking our home to really loving it.
                    She's super efficient, good at communicating and really nice to work with.
                    Can't recommend her more highly!</p>
                  <h4>Jenny A. | Finchley</h4>
                  <br />
                  <p>We are absolutely delighted with the work that Josephine has carried out on our house. What
                    started off as a small, room by room project, quickly grew to encompass our TV room, office,
                    master
                    bedroom, teenage daughter’s bedroom and guest room - in fact, most of the house! While each room
                    has it’s
                    own unique identity, there is a unifying consistency of theme throughout the house, which is
                    exactly
                    what we wanted. Josephine cleverly used many of our own things, up cycling as she went, and
                    married them with new and vintage pieces to create a stylish, yet practical, home. Her use of
                    wood,
                    metal, soft furnishings and stunning statement pieces in each room was simply inspired.
                    Josephine was a
                    pleasure to deal with throughout the project, which was delivered on time and on budget. We
                    wouldn’t hesitate to recommend her to others and indeed have already done so, with considerable
                    success.</p>
                  <h4>Catherine M. | Muswell Hill Project</h4>
                  <br />
                </div>
                <!-- end col-6 -->
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.10s testimonial-item">
                  <p>My husband and I chose JLV Design to design our 3 bedroom flat. Josephine's quirky and individual style appealed to us greatly. Josephine had such creativity, amazing eye for detail and was a pleasure to work with. She was always very responsive to our queries, patient with our changes and always gave us 110%. We would definitely use her again in the future when the time comes to redo our kitchen!!</p>
                  <h4>Kim CL. | Finchley</h4>
                  <br />
                    <p>I contacted Josephine after going through a complete house refurbishment. Once I got to the stage of decorating the interiors of the house - specifically the new open plan kitchen sharing a space with a living room and dining room - I felt stuck!
                    Josephine really listens and considers current furniture or key pieces in order to come up with mood boards and proposals. She really gets a good sense of the lifestyle and personality of her clients.
                    There is no way I would have been able to choose on my own the furniture she proposed - as I and to stick to the same kind of style. By hiring JLV design I went out of my comfort zone and achieved a very updated, fresh and elegant look.
                    I was so pleased with the result in the open plan kitchen that I decided to hire Josephine to help me with the guest bedroom, tv room and master bedroom!</p>
                  <h4>Patty C.F. | West Hampstead</h4>
                  <br />
                  <p>I asked Josephine for ideas for refreshing two rooms in the family home, which initially involved recovering some beloved chairs and sourcing curtain fabric. Then I changed the project by moving to a newly built flat. Josephine stuck with it to help me reuse what I had put away and added new features, including a particularly challenging curtain pole installation. Her warm, cheery personality and attention to detail were reassuring. I love my new space where I am surrounded by things I want to live with.</p>
                  <h4>Hilary S. | Muswell Hill</h4>
                  <br />
                  <p>Josephine is an extremely talented designer with a keen eye for detail and impeccable taste. She took great care to attend to my specific needs. She is unbelievably efficient. We had the bathroom and kitchen design sorted weeks before I was able to secure a tradesperson to do the installation! I was so impressed with her work that I asked her to help me with my lounge, dining and master bedroom. Again she exceeded expectation by selecting the most beautiful pieces to compliment the layout and colour scheme. Always coming within budget, and giving a good selection of options for you to choose from. Despite being based in Kent, she always managed to organise visits to make the project run smoothly. I am so glad that I stumbled across her work whilst browsing Houzz that rainy Sunday afternoon. Incidentally, she replied to my enquiry almost immediately.
                    A consummate professional. I have no hesitation in recommending her.</p>
                  <h4>Sonia S. | Kent</h4>

                  <p>Josephine is an inspirational designer! Having moved to a complete blank canvas with five floors needing furniture, lighting, colours and accessories we did not really know where to start. Josephine listened carefully to our ideas and then pushed our boundaries in terms of both colours and styles. She has an incredible eye for detail and for selecting beautiful pieces which stand alone whilst also complementing the overall design.
                    She took great care in updating us regularly in terms of our budget, delivery dates and made sure she was available for lighting installations. Josephine is always professional and is also fun to work with.
                    Josephine has created a beautiful family home for us with a real 'wow' factor and we would not hesitate to recommend her.</p>
                  <h4>Sarah R. | London</h4>
                  <br />
                  <p>We are delighted with Josephine's input on our kitchen/diner design. The builders started work in October and we didn't know what we were asking them to do! Josephine quickly came up with some interesting ideas to add fun, colour and style to our new space. She found some wonderful cement tiles for our kitchen splashback - I would never have thought of them myself, the builder was dubious but they look amazing. Likewise, she transformed our alcove into a fabulous feature but with plenty of storage space too. She has also helped with final styling She was a pleasure to deal with, we would highly recommend her and I would love to avail of her services again!</p>
                  <h4>Naomi R. | East Finchley</h4>
                  <br />
                </div>
                <!-- end col-6 -->
                <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.15s testimonial-item">
                    <p>Josephine transformed our 16-year-old son’s bedroom, the living room and master bedroom. It She is great to work with; full of ideas and inspiration, respectful of budgets and flexible. The house looks much better and it’s been a fun few months.</p>
                  <h4>Jo DS. | Muswell Hill</h4>
                  <br />
                    <p>I contacted Josephine to design my new kitchen, the living room and floors. Josephine understood what I was hoping for even if I could not picture it fully and what would look best for the small space in term of style, colours, furniture, lights, decoration. She also provided great advice on decoration style and how to upcycle some pieces of furniture I had. I really enjoyed the process working with her and the result speaks for itself. My flat looks beautiful is very comfortable and I received a lot of compliments from friends and family in the kitchen and living room. I highly recommend Josephine for any big or small projects, it is really worth it. Thank you, Josephine.</p>
                  <h4>Caroline L. | Muswell Hill</h4>
                  <br />
                  <p>Josephine was courteous and friendly. She listened to my ideas and made various suggestions which captured my ideas, as well as making other recommendations which were complimentary to my initial ideas. Whilst some of the suggestions were not what I was looking for, some of them I loved instantly and would never have found myself. I definitely feel that the design ideas I had were enhanced and implemented in a much more classy, impactful and design version of what I could have achieved on my own. I also think that Josephine’s advice on the impact of certain colours and styles in the specific room (size and shape) were things that I would not have known myself. On some issues, even where I had doubts and needed time to reflect, I ended up putting faith in Josephine’s judgment and was glad I did. The result was better than I could have imagined. I get many compliments from visitors about the results. I still have more interior decoration to do and will be using Josephine’s services again. I also thought that the fee was worth the money and that Josephine stuck to the fee quote she had given.</p>
                  <h4>Payal OB. | London</h4>
                  <br />
                    <p>Josephine is very professional. She listened to me had a look at our flat and was able to submit a project that was totally what we needed. She really has an eye to put the right pieces and colours in the right place. She followed up and helped us in every step. I greatly recommend her.</p>
                    <h4>Helene M. | Crouch End</h4>

                    <br />
                    <p>Josephine is fab! She helped us jump start our basement renovation project. We wanted to turn a damp awkward space into a cool teenage den for our kids to hang out in. This was our 3rd attempt at sorting this room out. She presented some brilliant designs which were also very practical and affordable. She was there when we needed her but also let us get on with the bits of the work we felt comfortable with.</p>
                    <h4>Paula H. | Muswell Hill</h4>

                    <br />
                    <p>Working with Josephine was a dream. She encouraged us to be braver with our design choices without ever being pushy and was respectful of our budget.
                      Josephine was always available by phone or email to answer questions and would send us pictures of ideas she had seen for inspiration for the flat.
                      We live in an open-plan flat and the result is a very clever use of space. We were able to upcycle the kitchen beautifully which not only fit in with our budget but also our sustainability efforts.</p>
                    <h4>Lizzie R. | Tollington Park</h4>
                  <br />
                  <p>Josephine helped design our newly renovated home. She was fantastic. Highly professional, often went above and beyond and easy to work with. What's evident is that she is passionate about design and doing the best for her clients. Her ideas were spot on and often pushed our boundaries. We're very happy with the result and I would highly recommend her. Thank you for all your hard work.</p>
                  <h4>Latifa K. | Muswell Hill</h4>

                  <br />
                </div>
            </div>
            <!-- end row -->
        </div>
        </div>
        <!-- end container -->
    </section>
</main>
